$ok_color: green;
$warning_color: yellow;
$alert_color: red;

.feature {
  display: flex;
  flex-flow: column;
  width: 100%;

  .feature-header {
    padding: 5px 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
    text-transform: uppercase;

    h3 {
      margin-bottom: 0 !important;
    }

    &.f-status-0 {
      background-color: $ok_color;
    }

    &.f-status-1 {
      background-color: $warning_color;
    }

    &.f-status-2 {
      background-color: $alert_color;
    }
  }

  .feature-content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    background-color: #ddd;
    padding: 15px;

    .feature-controls-header {
      display: flex;
      flex-flow: row;
      font-weight: bold;
    }

    .feature-controls-header,
    .feature-control {
      display: flex;
      flex-flow: row;

      .fc-name {
        width: 40%;
      }

      .fc-dev {
        width: 30%;
      }

      .fc-tolerance {
        width: 30%;
      }

      .fc-status {
        width: 20px;
      }
    }
  }
}

.fc-status-0 {
  color: $ok_color;
}

.fc-status-1 {
  color: $warning_color;
}

.fc-status-2 {
  color: $alert_color;
}

